# compiled python sources
*.pyc
*.pyo
__pycache__/

# python modules
*.egg
.eggs

# editor backups
*~
\#*\#
.*.swp

# eclipse project files
/.project
/.pydevproject
/.settings

# PyCharm
/.idea

# tox testing
.tox/
.cache/

# setuptools
/MANIFEST
/dist
/build
/*.egg-info

# OSX
.DS_Store

# Testing artifacts
/barman-wal-restorec
